version: "3.3"

networks:
  proxy:
    external: true
  internal:
    external: false

services:
  postgres:
    image: postgres:11.2-alpine
    volumes:
      - ./volume/postgres/data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always
    networks:
      - internal
    labels:
      - traefik.enable=false

  poster:
    build: ./web
    restart: always
    env_file:
      - .env
    command: "sh run.sh"
    depends_on:
      - postgres
    volumes:
      - ./volume/static:/var/www/static
    labels:
      - "traefik.frontend.rule=Host:poster.service.sci.tu.ac.th;PathPrefix:/"
      - traefik.backend=poster
      - traefik.port=8000
      - traefik.docker.network=proxy
    networks:
      - internal
      - proxy

  nginx_poster:
    image: nginx:alpine
    volumes:
      - ./volume/static:/usr/share/nginx/html/static/
    restart: always
    labels:
        - traefik.enable=true
        - traefik.backend=nginx_poster
        - "traefik.frontend.rule=Host:poster.service.sci.tu.ac.th;PathPrefix:/static/,/media/"
        - traefik.port=80
        - traefik.docker.network=proxy
    networks:
      - internal
      - proxy